.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

.refact

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/


#helpdesk
uploads/
sales_database/
system/
application/vendor/

*.zip

assets/js/bert_model/*
.refact/buddy/state.json

*.sql

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
.env
application/config/constants.php
application/modules/approvals/sql/sp_update_ca_detail_review.sql
sp_fetch_audit_trail.sql
sp_fetch_transaction_details.sql
sp_update_liquidation_detail_review.sql
reimbursement_db_rebuild.sql
schema_dump_reimbursement.sql
sp_reimbursement_resubmit_helpers.sql
sp_fetch_reimbursement_list.sql
drop_expense_category_id.sql
application/config/notification_email.php
test1.xlsx
.gitignore
assets/templates/Mass Journal Entries Template.xlsx
